@import "../../../styles/variables.scss";

.upload_progress {
  height: 100px;
  min-width: 445px;

  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: rgba(228, 228, 231, 0.8);
  }

  .progress {
    position: relative;
    height: 36px;
    width: 445px;
    border-radius: 4px;
    background: rgba(43, 45, 53, 0.6);
    border-radius: 4px;
    width: 100%;
    display: flex;
    align-items: center;

    .status {
      min-width: 455px;
      display: flex;
      justify-content: space-between;
      padding-left: 10px;
      padding-right: 5px;

      .file_name {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: map-get($colors, "details-sub-header");
      }

      .icons_container {
        margin-left: auto;

        .icon {
          cursor: pointer;
        }
      }
    }

    .progress_bar {
      height: 3px;
      border-radius: 10px;
      background-color: map-get($colors, "dark-green");
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .error_container {
    margin-top: 15px;
    .error {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: map-get($colors, "error-text");
      margin: 0%;
    }
  }
}
