@import "../../../../styles/variables.scss";

.container {
    padding: 10px 19px 18px 19px;
    background-color: map-get($colors, "light-gray");
    display: flex;
    flex-direction: column;
    gap: 14px;

    .top {
        background: rgba(37, 38, 44, 0.5);
        border-radius: 5px;
        padding: 9px 25px;
        display: flex;
        align-items: center;
        gap: 16px;

        .left {
            display: flex;
            align-items: center;
        }

        .right {
            display: grid;
            grid-template-columns: auto 20%;
            align-items: center;

            .title {
                font-weight: 700;
                font-size: 14px;
                line-height: 24px;
                color: rgba(255, 255, 255, 0.7);
                margin: 0%;
            }

            .number {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                color: map-get($colors, "light");
                margin: 0%;

            }
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;

        //BOX

        .box {
            width: 103px;
            height: 99px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center !important;
            background: map-get($colors , "box-color");
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            gap: 2px;
            cursor: pointer;

            .low {
                color: map-get($colors, "light-green");
            }

            .moderate {
                color: map-get($colors, "dark-yellow");
            }

            .high {
                color: map-get($colors, "dark-red");
            }
                                                                                                                                                                                                }
                                                                                                .highlight_box {
                                                                                                    border: 1.5px solid map-get($colors, "bd-green");
                                                                                                }
    }
}