@import "../../../styles//variables.scss";

.container {
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;

  .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: map-get($colors, "light");
    margin: 0%;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 6px;

    .description {
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      text-align: left;
      color: map-get($colors, "light");
      opacity: 0.6;
      margin: 0%;
    }

    .categories {
      display: flex;
      justify-content: center;

      .status {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .low,
        .moderate,
        .high {
          width: 70px;
          height: 6px;
        }

        .low {
          background-color: map-get($colors, "light-green");
        }

        .moderate {
          background-color: map-get($colors, "dark-yellow");
        }

        .high {
          background-color: map-get($colors, "dark-red");
        }

        .name {
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: map-get($colors, "light");
          margin: 0%;
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .container {
    height: 61px;
    width: 142px;
    padding: 0px 6px;
    gap: 0px;

    .title {
      font-size: 8px;
      line-height: 16px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .description {
        font-size: 8px;
        line-height: 10px;
      }

      .categories {
        display: flex;
        justify-content: center;

        .status {
          display: flex;
          flex-direction: column;
          gap: 0px;

          .low,
          .moderate,
          .high {
            width: 43.33px;
            height: 2.24px;
          }

          .name {
            font-size: 8px;
            line-height: 16px;
          }
        }
      }
    }
  }
}
