@import "../../../styles/variables.scss";

.selector_container {
  display: flex;
  gap: 18px;
}

.selected_files_container {
  display: flex;
  flex-direction: column;
  .files_note {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(228, 228, 231, 0.3);
  }

  .error_container {
    margin-top: 15px;
    .error {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: map-get($colors, "error-text");
      margin: 0%;
    }
  }

  .mp4 {
    margin-right: auto !important;
    float: left;
  }

  .gpx {
    margin-left: auto !important;
    float: right;
  }
  .mp4,
  .gpx {
    .selected_file {
      position: relative;
      .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: rgba(228, 228, 231, 0.8);
      }

      .content {
        width: 196px;
        height: 36px;
        background: rgba(43, 45, 53, 0.6);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        .file_name {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: rgba(228, 228, 231, 0.8);
          margin: 0%;
          margin-right: auto;
        }
      }
      .progress_bar {
        max-width: 196px;
        height: 3px;
        border-radius: 10px;
        background-color: map-get($colors, "dark-green");
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
