/* COLORS */

$colors: (
  dark-red: #b74040,
  dark-yellow: #ca8a3f,
  light-yellow: #e0a515,
  light-green: #40b74b,
  light-orange: #ee6c4d,
  light-red: #d73f35,
  x-light-red: #e0a515,
  light: #ffffff,
  silver: #e5e5e5,
  dark-green: #018f6ad9,
  info-text: #676767,
  dark: #1d1d20,
  dark-blue: #24262e,
  light-blue: #3d5a80,
  light-gray: #32343e,
  input-fill: #31333c,
  dark-gray: #25262c80,
  tp-light-blue: rgba(61, 90, 128, 0.5),
  tp-dark-green: rgba(1, 143, 106, 0.85),
  tp-dark-gray: rgba(46, 48, 52, 0.2),
  tp-dialog-bg: rgba(0, 0, 0, 0.6),
  box-color: #25262c,
  error-text: #ff3366,
  tp-gray: rgba(47, 47, 47, 0.47),
  bd-green: #018f6a,
  tp-dark-gradient:
    linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.63) 100%),
  side-bar-main-header: rgba(228, 228, 231, 0.4),
  del-back: #fff3f3,
  bg-sidebar: #262832,
  bg-controls: #121212,
  details-sub-header: #e4e4e7,
);

$heights: (
  container: calc(100vh - 15px),
);
